In [48]:
s = "C(=N)(N)N.C(=O)(O)O"
s.find('.')
s.split('.')

['C(=N)(N)N', 'C(=O)(O)O']

In [53]:
# String operators: in, not in
if "Br" in "Brother":
    print ("contains brother")

email_address = "clin"
if "@" not in email_address:
    email_address += "@brandeis.edu"
    print (email_address)

contains brother
clin@brandeis.edu

In [66]:
b = 'mohamad'
b = 'M' + b[1:]
b

'Mmohamad'

In [67]:
# List
names = ["Ben", "Chen", "Yaqin","gaja"]
len(names)
names[-4:4]
for x in names:
    print(x)
":".join(names)

Ben
Chen
Yaqin
gaja

'Ben:Chen:Yaqin:gaja'

In [69]:
# Lists are mutable - some useful methods
# is a collection which is ordered and changeable. Allows duplicate members.
ids = ["9pti", "2plv", "1crn"]
ids.append('1tad')
ids

['9pti', '2plv', '1crn', '1tad']

In [74]:
del ids[0]
ids

['2plv', '1crn', '1tad']

In [75]:
ids.sort()
ids

['1crn', '1tad', '2plv']

In [76]:
ids.reverse()
ids

['2plv', '1tad', '1crn']

In [77]:
ids.insert(0,'9pti')
ids

['9pti', '2plv', '1tad', '1crn']

In [93]:
ids[0]="abcd"
ids

['abcd', '2plv', '1tad', '1crn']

In [95]:
# Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
tupples = ("wwe", "bdfd", "weyuy")
tupples[0]="abcd"
tuples

TypeError: 'tuple' object does not support item assignment

In [92]:
#zipping lists together

name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ] 
roll_no = [ 4, 1, 3, 2 ] 
marks = [ 40, 50, 60, 70 ] 
  
# using zip() to map values 
mapped = zip(name, roll_no, marks) 
  
# converting values to print as set 
mapped = set(mapped) 
  
# printing resultant values  
print ("The zipped result is : ",end="") 
print (mapped)

The zipped result is : {('Shambhavi', 3, 60), ('Nikhil', 1, 50), ('Astha', 2, 70), ('Manjeet', 4, 40)}

In [96]:
# Dictionaries

#Dictionaries are lookup tables.
#They map from a “key” to a “value”.
symbol_to_name = {
    "H": "hydrogen",
    "He": "helium",
    "Li": "lithium",
    "C": "carbon",
    "O": "oxygen",
    "N": "nitrogen"
    }
# Duplicate keys are not allowed
# Duplicate values are just fine

In [104]:
symbol_to_name["C"]
"O" in symbol_to_name, "U" in symbol_to_name
symbol_to_name.get("P", "unknown")
symbol_to_name.get("N", "unknown")
symbol_to_name.keys()
symbol_to_name.values()
symbol_to_name.update( {"P": "phosphorous", "S": "sulfur"} )
symbol_to_name
#del symbol_to_name['C']
#symbol_to_name

{'H': 'hydrogen',
 'He': 'helium',
 'Li': 'lithium',
 'C': 'carbon',
 'O': 'oxygen',
 'N': 'nitrogen',
 'P': 'phosphorous',
 'S': 'sulfur'}

In [105]:
f = open("names.txt")
f.readline()

'Hello'